*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.header_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width: 50px;
    height: 50px;
}
.world{
    font-size: 40px;
    margin-top: 5px;
}
.tour{
    color: #FF5400 ;
    font-size: 40px;
}
.logo_container{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.navbar_container{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.navbar_container li{
    list-style-type: none;
}
.navbar_container li a{
    text-decoration: none;
    padding: 20px;
    color: rgb(22, 20, 20);
    font-size: 20px;
}
.navbar_container li a:hover{
    color: #FF5400;
}
.burger{
    display: none;
}

/* Media Query */
@media screen and (max-width: 600px){
    .world{
        font-size: 30px;
        margin-top: 10px;
    }
    .tour{
        font-size: 30px;
    }
    .navbar_container{
        display: none;
    }
    .burger{
       display: block;
       font-size: 25px;
       margin-top: 16px;
    }
}

/* -------------------------------------------- */
/* -------------------------------------------- */
.banner{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
.banner_container{
    background-image: url('/images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid transparent;
    border-radius: 15px;
}
.banner_inner_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background: transparent;
    opacity: 3;
}
.img_div{
    width: 900px;
    margin-top: 10%;
    margin-bottom: 15%;
    text-align: center;
}
.img_div h1{
    font-size: 60px;
    color: white;
    font-weight: bold;
}
.img_div h3{
    font-size: 20px;
    color: white;
    padding: 20px 0px;
}
.findNow_section{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgba(128, 128, 128, 0.459);
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
}
.direction_div{
    width: 210px;
    padding: 12px 16px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    justify-content: space-between;
    color: gray;
    font-size: 18px;
}
.find{
    background-color: #FF5400;
    color: white;
    width: 200px;
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 18px;
}
.search{
    margin-left: 30px;
}
/* media query */
@media screen and (max-width: 600px) {
    .img_div{
        width: 400px;
    }
    .img_div h1{
        font-size: 40px;
    }
    .img_div h3{
        font-size: 16px;
    }
    .findNow_section{
        flex-direction: column;
        gap:20px;
    }
    .direction_div{
        margin-left: auto;
        margin-right: auto;
    }
    .find{
        margin-left: auto;
        margin-right: auto;
        width: 210px;
    }
}

/* ---------------------------------------- */
/* ------------------Popular tours---------------------- */
.section_container{
    margin-left: 5%;
    margin-right: 5%;
}
.popularTours{
    margin-top: 6%;
}
.popularTours_container{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}
.popularTours_content{
   width: 50%;
}
.popularTours_content h1{
    font-size: 50px;
    font-weight: bold;
}
.popularTours_content h3{
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 20px;
}
.popularTours_content ul li{
    padding: 8px 0;
    font-size: 18px;
}
.btn_read{
    padding: 15px 30px;
    background-color: #FF5400;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #FF5400;
    border-radius: 10px; 
}
.popularTours_image{

}
/* Media query */
@media screen and (max-width: 600px) {
    .popularTours_container{
        flex-direction: column;
    }
    .popularTours_content{
        width: 100%;
        margin-left: 20px;
        padding-right: 20px;
    }
    .popularTours_image img{
        width: 450px;
        height: 300px;
        margin-top: 30px;
    }
}

/* ----------------------------------------------- */
/* ---------------------DEstination-------------------------- */
.destination{
    margin-top: 6%;
}
.destination_content{
    text-align: center;
}
.destination_content h1{
    font-size: 50px;
    font-weight: bold;
}
.destination_content p{
    font-size: 18px;
    margin-top: 40px;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.destination_gallery{
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    gap:20px;
}
.image_design{
    /* background-image: url('/images/destination1.png'); */
    width: 400px;
    height: 300px;
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.caption{
    color: white;
    font-size: 40px;
}
.image1{
    background-image: url('/images/destination1.png');
    
     background-repeat: no-repeat;
}
.image2{
    background-image: url('/images/destination2.png');
    /* width: 80%;  */
    background-repeat: no-repeat;    
}


/* ---------------------------------------------- */
/* -----------  Why choose us----------------- */
.choose{
   margin-top: 6%;
   margin-bottom: 10%;
}
.choose_container{

}
.choose_content h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.choose_content p{
    font-size: 18px;
    margin-top: 40px;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.card_container{
    margin-top: 6%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    gap:30px;
}
.card{
    border: 1px solid gray;
    padding: 60px;
    border: 1px solid transparent;
    border-radius: 15px;
    /* padding: 20px; */
}
.card_icon{
    font-size: 40px;
}
.card1{
    background-color: rgb(246, 232, 215);
}
.card2{
    background-color: rgb(208, 219, 245);
}
.card3{
    background-color: rgb(218, 246, 215);
    width: 50%;
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
}
.card h3{
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 20px;
    font-weight: bold;
}
.card p{
    font-size: 18px;
    width: 90%;
}
@media screen and (max-width:600px) {
    .card_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .card3{
        width: 100%;
        margin-bottom: 20%;
    }
    .choose_content p{
        font-size: 16px;
        width: 90%;
        text-align: center;
    }
    
}




/* ----------------------------------------------- */
/* ------------------Newsletter--------------- */
.newsletter{
    margin-top: 6%;
    margin-bottom: 10%;
}
.newsletter_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.newsletter_form{
    border: 1px solid #FF5400;
    border-radius: 15px;
    /* padding: 36px 32px; */
    padding-top: 50px;
    padding-left: 50px;

}
.newsletter_form h3{
    font-size: 24px;
    font-weight: 900;
}
.newsletter_form p{
    font-size: 18px;
    width: 85%;
    margin-top: 20px;
}
.newsletter_hr{
    width: 85%;
    border: 1px solid rgb(239, 231, 231);
    margin-top: 20px;
    margin-bottom: 20px;
}
.input_name, .input_email{
    display: block;
    background-color: rgba(154, 153, 153, 0.418);
    border: none;
    width: 85%;
    padding: 10px;
    border-radius: 5px;
    margin: 25px 0;
}
.newsletter_subscribe{
    padding: 10px 30px;
    width: 85%;
    background-color: #FF5400;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #FF5400;
    border-radius: 10px; 
}
@media screen and (max-width:600px) {
    .newsletter_container{
        flex-direction: column;
    }
    .newsletter_image img{
        width: 440px;
        height: 300px;
        margin-top: 20px;
    }
    .newsletter_form{
        padding-bottom: 30px;
    }
}





/* ------------------------------------------------- */
/* ---------------------Footer----------------------- */
.footer{
     background-color: rgba(219, 215, 215, 0.481);
     padding: 32px;
     
}
.footer_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.footer_logo{
    display: flex;
    flex-direction: row;
    gap:10px;
    padding-top: 5%;
}
.footer_logo img{
    width: 40px;
    height: 40px;
}
.footer_world{
    font-size: 28px;
    margin-top: 5px;
}
.footer_tour{
    color: #FF5400;
    font-size: 28px;
}
.footer_social{
    display: flex;
    flex-direction: row;
    gap:20px;
    padding: 10px 0;
    font-size: 16px;
}
.footer_p{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    width: 60%;
}
.footer_social li{
    list-style-type: none;
}
.icon{
    font-size: 30px;
}
.blue{
    color: black;
}
.hr{
    width: 80%;
    border: 1px solid rgba(219, 216, 216, 0.663);
}
.rights{
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 20px;
}
/* media query */
@media screen and (max-width:600px) {
    .footer_p{
        width: 90%;
        font-size: 16px;
    }
    .icon{
        font-size: 20px;
    }
}