*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.header_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width: 50px;
    height: 50px;
}
.world{
    font-size: 40px;
    margin-top: 5px;
}
.tour{
    color: #FF5400 ;
    font-size: 40px;
}
.logo_container{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.navbar_container{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.navbar_container li{
    list-style-type: none;
}
.navbar_container li a{
    text-decoration: none;
    padding: 20px;
    color: rgb(22, 20, 20);
    font-size: 20px;
}
.navbar_container li a:hover{
    color: #FF5400;
}
.burger{
    display: none;
}

/* Media Query */
@media screen and (max-width: 600px){
    .world{
        font-size: 30px;
        margin-top: 10px;
    }
    .tour{
        font-size: 30px;
    }
    .navbar_container{
        display: none;
    }
    .burger{
       display: block;
       font-size: 25px;
       margin-top: 16px;
    }
}

/* -------------------------------------------- */
/* -------------------------------------------- */
.banner{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
.banner_container{
    background-image: url('/images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid transparent;
    border-radius: 15px;
}
.banner_inner_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background: transparent;
    opacity: 3;
}
.img_div{
    width: 900px;
    margin-top: 10%;
    margin-bottom: 15%;
    text-align: center;
}
.img_div h1{
    font-size: 60px;
    color: white;
    font-weight: bold;
}
.img_div h3{
    font-size: 20px;
    color: white;
    padding: 20px 0px;
}
.findNow_section{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgba(128, 128, 128, 0.459);
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
}
.direction_div{
    width: 210px;
    padding: 12px 16px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    justify-content: space-between;
    color: gray;
    font-size: 18px;
}
.find{
    background-color: #FF5400;
    color: white;
    width: 200px;
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 18px;
}
.search{
    margin-left: 30px;
}
/* media query */
@media screen and (max-width: 600px) {
    .img_div{
        width: 400px;
    }
    .img_div h1{
        font-size: 40px;
    }
    .img_div h3{
        font-size: 16px;
    }
    .findNow_section{
        flex-direction: column;
        gap:20px;
    }
    .direction_div{
        margin-left: auto;
        margin-right: auto;
    }
    .find{
        margin-left: auto;
        margin-right: auto;
        width: 210px;
    }
}

/* ---------------------------------------- */
/* ---------------------------------------- */
.section_container{
    margin-left: 5%;
    margin-right: 5%;
}
.popularTours{
    margin-top: 6%;
}
.popularTours_container{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}
.popularTours_content{
   width: 50%;
}
.popularTours_content h1{
    font-size: 50px;
    font-weight: bold;
}
.popularTours_content h3{
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 20px;
}
.popularTours_content ul li{
    padding: 8px 0;
    font-size: 18px;
}
.btn_read{
    padding: 15px 30px;
    background-color: #FF5400;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #FF5400;
    border-radius: 10px; 
}
.popularTours_image{

}
/* Media query */
@media screen and (max-width: 600px) {
    .popularTours_container{
        flex-direction: column;
    }
    .popularTours_content{
        width: 100%;
        margin-left: 20px;
        padding-right: 20px;
    }
    .popularTours_image img{
        width: 450px;
        height: 300px;
        margin-top: 30px;
    }
}